@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.title {
  font-size: x-large;
  font-weight: bold;
  color: aliceblue;
  float: left;
}

.maparea {
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  margin: 10px;
}

.pmdataarea {
  max-width: 660px;
  padding: 0px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.databox {
  margin-top: 5px;
  align-items: center;
  text-align: center;
}

.centertext { text-align: center; }

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 20px;
  z-index: 9;
  pointer-events: none;
}

.search-bar{
  width: 100%;
  max-width: 400px;
}

.color-legend {
  position: absolute;
  top: 5.4%;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 12px 5px 12px;
  margin: 20px;
  font-size: 15px;
  color: black;
  outline: none;
  list-style-type: none;
  text-align: right;
}

.datazone{
  display: flex;
  justify-content: center;
}

.datazone > *{
  padding: 5%;
}

.news{
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.news-title{
  font-size: large;
  font-weight: bold;
}
.news-detail{
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-desc{
  padding-left: 1em;
}

.news-pubDate{
  text-align: right;
  font-size: small;
}

.align-right {
  display: inline-block;
}

.align-left {
  float: left;
}

.tab-bar {
  width: 650px;
  font-size: large;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
}