@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.title {
  font-size: x-large;
  font-weight: bold;
  color: aliceblue;
  float: left;
}

.maparea {
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  margin: 10px;
}

.pmdataarea {
  padding: 0px;
  margin: 10px;
}

.databox {
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.centertext { text-align: center; }

.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 20px;
  z-index: 9;
  pointer-events: none;
}